*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
.container{
    background-color: #f2f2f2;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    margin-top: 40px;
    padding:1rem;
}
#screen{
    background-color:hsla(86, 36%, 36%, 1);
    height: 4rem;
    width: 20rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    margin-top: 1rem;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: .2rem 0rem;
    padding: 1rem;
    

}
.rows{
    display: flex;
}
.btn{
    height: 2rem;
    width: 2.5rem;
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: .2rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #ddd;
}
#clear{
    width: 280px;
    text-align: center;
    background-color: #ff4136;
    color: #fff;
}
#clear:hover{
    background-color: #ddd;
}
#equal{
    background-color: #01ff70;
     color: #fff;

}
.operator{
    background-color: #0074d9;
    color: #fff;
    height: 2rem;
    width: 2.5rem;
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: .2rem;
    cursor: pointer;
}
#equal{
    height: 2rem;
    width: 2.5rem;
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: .2rem;
    cursor: pointer;
}
#equal:hover{
    background-color: #ddd;
}
#pi{
    height: 2rem;
    width: 2.5rem;
    margin: 1rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: .2rem;
    cursor: pointer;
}
#pi:hover{
    background-color: #ddd;
}